.navbar{
  background-color: rgba(24, 80, 136, 1) !important;
  color: white;
  border-bottom: rgba(71, 131, 191, 1) solid 3px;
  height: 76px;
}

.navbar-logo{
  padding-left: 40px;
}

.navbar-logo span{
  color: rgba(129, 182, 236, 1);
}

.nav-link{
  color: #ffffff !important;
}

.myd-pointer {
  cursor: pointer;
}

/* ********* MEDIA QUERIES [MOBILE FIRST] ********* */
/* ************************************************ */

/* Medium Devices [AND DOWN] */
@media only screen and (max-width : 1199px) {
  .sidebar .nav-link{
    padding: 15px 13px;
  }
}

/* Small Devices [AND DOWN] */
@media only screen and (max-width : 991px) {

}

/* Half Small Devices [AND DOWN] */
@media only screen and (max-width : 767px) {
  .sidebar {
    width: 44px;
  }

  .show-it {
    width: 100%;
  }

  .navbar-collapse{
    background-color: rgba(24, 80, 136, 1);
    padding-top: 24px;
  }

  .navbar-nav .nav-link {
    padding-left: 29px;
    border-bottom: 1px solid #40618a;
  }

  .navbar-logo{
    padding-left: 6px;
  }

  .navbar-inverse .navbar-toggler {
    border-color: transparent !important;
  }

  .navbar-inverse .navbar-toggler:active {
    border-color: transparent !important;
  }
}


/* ********* MEDIA QUERIES [IN RANGE] ********* */
/* ******************************************** */

/* Large Devices, Desktops and Up [lg] */
@media only screen and (min-width : 1200px) {}

/* Medium Devices, Tablets / Desktops [md] */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Small Devices, Tablets [sm] */
@media only screen and (min-width : 768px) and (max-width : 991px) {


}

/* Half Small Devices, Mobiles [hs] (CUSTOM M.QUERY)  */
@media only screen and (min-width : 480px) and (max-width : 767px) {

}

/* Extra Small Devices, Mobiles [xs] */
@media only screen and (max-width : 479px) {}
