.navbar{
  background-color: rgba(24, 80, 136, 1) !important;
  color: white;
  border-bottom: rgba(71, 131, 191, 1) solid 3px;
  height: 76px;
  font-weight: bold;
}

.navbar-logo{
  padding-left: 40px;
}

.navbar-logo span{
  color: rgba(129, 182, 236, 1);
}

.nav-link{
  color: #ffffff !important;
}

.myd-pointer {
  cursor: pointer;
}

.myd-searcher-form {
  padding-left: 52px;
}

.myd-searcher {
  height: 72px;
  font-size: 24px;
}

.myd-searcher-base {
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
}

.myd-nav-action-buttons {
  margin-top: 14px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.myd-searcher-width {
  width: 50vw;
}

/* ********* MEDIA QUERIES [MOBILE FIRST] ********* */
/* ************************************************ */

/* Medium Devices [AND DOWN] */
@media only screen and (max-width : 1199px) {
  .sidebar .nav-link{
    padding: 15px 13px;
  }

  .myd-searcher-width {
    width: 30vw;
  }
}

/* Small Devices [AND DOWN] */
@media only screen and (max-width : 991px) {

}

/* Half Small Devices [AND DOWN] */
@media only screen and (max-width : 767px) {
  .sidebar {
    width: 44px;
  }

  .show-it {
    width: 100%;
  }

  .navbar-collapse{
    background-color: rgba(24, 80, 136, 1);
    padding-top: 24px;
  }

  .navbar-nav .nav-link {
    padding-left: 29px;
    border-bottom: 1px solid #40618a;
  }

  .navbar-logo{
    padding-left: 6px;
  }

  .navbar-inverse .navbar-toggler {
    border-color: transparent !important;
  }

  .navbar-inverse .navbar-toggler:active {
    border-color: transparent !important;
  }

  .myd-searcher-form {
    padding-left: 1px;
  }

  .myd-searcher {
    height: 50px;
    font-size: 18px;
  }
}


/* ********* MEDIA QUERIES [IN RANGE] ********* */
/* ******************************************** */

/* Large Devices, Desktops and Up [lg] */
@media only screen and (min-width : 1200px) {}

/* Medium Devices, Tablets / Desktops [md] */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Small Devices, Tablets [sm] */
@media only screen and (min-width : 768px) and (max-width : 991px) {


}

/* Half Small Devices, Mobiles [hs] (CUSTOM M.QUERY)  */
@media only screen and (min-width : 480px) and (max-width : 767px) {

}

/* Extra Small Devices, Mobiles [xs] */
@media only screen and (max-width : 479px) {}
