<nav class="navbar-toggleable-sm sidebar" [class.show-it]="_showIt">
  <button class="navbar-toggler justify-content-center" type="button" (click)="onShow()">
    <span class="fa fa-bars menu-togl"></span>
  </button>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item sidebar-navli">
      <a class="nav-link" [routerLink]="['/']">
        <span *ngIf="_showIt">{{ 'sidebar.my_words' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link" [routerLink]="['/']">
        <span *ngIf="_showIt">{{ 'sidebar.exec_lesson' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link"[routerLink]="['/']">
        <span *ngIf="_showIt">{{ 'sidebar.export' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>


