<nav class="navbar-toggleable-sm sidebar" [class.show-it]="_showIt">
  <button class="navbar-toggler justify-content-center" type="button" (click)="onShow()" id="sidebarSmallScreenTogler">
    <span class="fa fa-bars menu-togl"></span>
  </button>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item sidebar-navli">
      <a class="nav-link" [routerLink]="['/collections']">
        <span *ngIf="_showIt" id="sidebarMyWords">{{ 'sidebar.my_words' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link" [routerLink]="['/practice']">
        <span *ngIf="_showIt" id="sidebarExcercise">{{ 'sidebar.exec_lesson' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link"[routerLink]="['/admin/addword']">
        <span *ngIf="_showIt" id="sidebarAddWord">{{ 'sidebar.addword' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link"[routerLink]="['/admin/usermanagement']">
        <span *ngIf="_showIt" id="sidebarUsermanagement">{{ 'sidebar.usermanagement' | translate }}</span>
      </a>
    </li>
    <li class="nav-item sidebar-navli">
      <a class="nav-link"[routerLink]="['/admin/suggestedwords']">
        <span *ngIf="_showIt" id="sidebarSuggestedWords">{{ 'sidebar.suggested_words' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>


