<h1>{{ 'hangman.exe' | translate }}</h1>

<div class="form-group row">

  <div class="col-12">
    <select class="select-box" (change)="OnChanged($event.target.value)">
      <option disabled selected value>{{ 'hangman.coll' | translate }}</option>
      <option *ngFor="let collection of collectionsService.collections | async" value={{collection.id}}>{{
        collection.name }}
      </option>
    </select>
  </div>
</div>

<div class="playfield">

  <div class="imgbox">
    <img src="{{imgURL}}"/>
  </div>


  <div class="letterbox">
    <div class="error-box">
      {{message}}
    </div>
    <div class="letter-space">
      <span *ngFor="let letter of Letters" class="letters">{{letter}}</span>
    </div>
    <div
      [ngClass]="{circle: true, clickable: UsedLetters.indexOf(alpha) == -1 && word != null, used: UsedLetters.indexOf(alpha) > -1}"
      *ngFor="let alpha of AlphaBet" (click)="OnSelect(alpha)"><span class="span">{{alpha}}</span></div>
  </div>

</div>

<div class="row button-row">
  <div class="form-group">
    <div class="col-4">
      <button type="button" class="btn loginButtonMargin" (click)="OnNextWord()">
        {{ 'hangman.new' | translate }}
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-4">
      <button type="button" class="btn loginButtonMargin" (click)="onAgainCollection()">
        {{ 'hangman.rep' | translate }}
      </button>
    </div>
  </div>
</div>
