.maindiv{

  padding-left: 30px;
}

.blocks .btn-primary
{

  margin: 0 5px 0 0;
}

.datadiv{

  padding-top: 30px;
}

.onedatarow{

  padding-right: 50px;
}

.lastButton col-5{

  padding-top: 30px;
}
