<html><table class="table table-bordered"  style="width: 700px ">

  <thead class="tablehead" >
  <th>Felhasználó név</th>
  <th>Email cím</th>
  <th>Státusz</th>
  <th class="tdb">Módosít</th>
  <th class="tdb">Töröl</th>
  </thead>
  <tr style="width: 700px "  *ngFor="let us of users">
    <td>{{us.username}}</td>
    <td>{{us.email}}</td>
    <td>{{us.password}}</td>
    <td class="tdb">
      <button type="button" class="btn1">
        <i class="material-icons">edit</i>
      </button>
    </td>
    <td class="tdb">
      <button type="button" class="btn2">
        <i class="material-icons">delete</i>
      </button>

    </td>

  </tr>

</table>
</html>
