<table class="table table-bordered table-hover table-responsive"  >

  <thead class="tablehead" >
  <th *ngIf="selectionColumn"><input type="checkbox" (click)="onSelectedList($event)"></th>
  <!--<th *ngIf="range">#</th>-->
  <th *ngIf="name">{{ 'addWord.word' | translate }}</th>
  <th *ngIf="needMeaning">{{ 'addWord.meaning' | translate }}</th>
  <th *ngIf="wordClass">{{ 'addWord.word_class' | translate }}</th>
  <th *ngIf="editColumn" class="tdb">{{ 'suggestedWords.modify' | translate }}</th>
  <th *ngIf="allowDelete" class="tdb">{{ 'suggestedWords.delete' | translate }}</th>
  </thead>

<ng-container  *ngFor="let w of words">
  <tr   *ngFor="let meaning of w['wordMeaning']; let i = index" [ngClass]="{'table-active' : selected.indexOf(meaning) > -1}">
    <td *ngIf="selectionColumn"><input type="checkbox" name="vehicle" (click)="onSelected(meaning)" [checked]="selected.indexOf(meaning) > -1"></td>
    <!--<td *ngIf="range">{{i}}</td>-->
    <td *ngIf="name">{{w['word']}}</td>

    <td *ngIf="needMeaning">
      <label  *ngIf="modified.indexOf(meaning) == -1">{{meaning['word']}}</label>
      <input class="inputWidth" ngModel name="vmi" *ngIf="modified.indexOf(meaning) > -1" type="text"  [(ngModel)]="meaning['word']" id="inputModifiedMeaning">
    </td>
    <td *ngIf="wordClass">
      <label  *ngIf="modified.indexOf(meaning) == -1">{{w['wordClass']}}</label>
      <input  class="inputWidth2" ngModel name="birthdate" *ngIf="modified.indexOf(meaning) > -1" type="text"  [(ngModel)]="w['wordClass']"  id="inputModifiedWordClass">
    </td>

    <td *ngIf="editColumn" class="tdb">
      <button type="button" class="btn1" (click)="onEditWord(w,meaning)">
        <i class="material-icons">edit</i>
      </button>
    </td>
    <td *ngIf="allowDelete" class="tdb">
      <button type="button" class="btn2 tableButElem"  (click)="onDelete(w,meaning)">
        <i class="material-icons">delete</i>
      </button>

    </td>

  </tr>

</ng-container>

</table>

<div *ngIf=" deleteColumn || approve"  class="form-group row" >
  <div class="col-5 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="approve" type="button" class="btn tablehead loginButtonMargin" (click)="onModifyAll()" id="plusOne">
      {{ 'suggestedWords.modify_selected' | translate }}
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="deleteColumn" type="button" class="btn tablehead loginButtonMargin" (click)="onDeleteAll()" id="plusFive">
      {{ 'suggestedWords.delete_selected' | translate }}
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="approve" type="button" class="btn tablehead loginButtonMargin" id="buttonSubmitAddWord" (click)="onApprove()">
      {{ 'suggestedWords.approval' | translate }}
    </button>
  </div>
</div>
