<table class="table table-bordered table-hover table-responsive"  >

  <thead class="tablehead" >
  <th *ngIf="selectionColumn"><input type="checkbox" (click)="onSelectedList($event)"></th>
  <th *ngIf="range">#</th>
  <th *ngIf="name">{{ 'addWord.word' | translate }}</th>
  <th *ngIf="meaning">{{ 'addWord.meaning' | translate }}</th>
  <th *ngIf="wordClass">{{ 'addWord.word_class' | translate }}</th>
  <th *ngIf="modifyColumn" class="tdb">{{ 'suggestedWords.modify' | translate }}</th>
  <th *ngIf="deleteColumn" class="tdb">{{ 'suggestedWords.delete' | translate }}</th>
  </thead>


  <tr   *ngFor="let w of words; let i = index" [ngClass]="{'table-active' : selected.indexOf(w) > -1}">
    <td *ngIf="selectionColumn"><input type="checkbox" name="vehicle" value={{i}} (click)="onSelected(w)" [checked]="selected.indexOf(w) > -1"></td>
    <td *ngIf="range">{{i}}</td>
    <td *ngIf="name">{{w.word}}</td>

    <td *ngIf="meaning">
      <label  *ngIf="modified.indexOf(w) == -1">{{w.wordMeaning1[0].word}}</label>
      <input class="inputWidth" ngModel name="birthdate" *ngIf="modified.indexOf(w) > -1" type="text"  [(ngModel)]="w.wordMeaning1[0].word" id="inputModifiedMeaning">
    </td>
    <td *ngIf="wordClass">
      <label  *ngIf="modified.indexOf(w) == -1">{{w.wordClass}}</label>
      <input  class="inputWidth2" ngModel name="birthdate" *ngIf="modified.indexOf(w) > -1" type="text"  [(ngModel)]="w.wordClass" id="inputModifiedWordClass">
    </td>

    <td *ngIf="modifyColumn" class="tdb">
      <button type="button" class="btn1" (click)="onModify(w)">
        <i class="material-icons">edit</i>
      </button>
    </td>
    <td *ngIf="deleteColumn" class="tdb">
      <button type="button" class="btn2 tableButElem"  (click)="onDelete(w)">
        <i class="material-icons">delete</i>
      </button>

    </td>

  </tr>

</table>

<div *ngIf="modifyColumn || deleteColumn || approve"  class="form-group row" >
  <div class="col-5 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="modifyColumn" type="button" class="btn tablehead loginButtonMargin" (click)="onModifyAll()" id="plusOne">
      {{ 'suggestedWords.modify_selected' | translate }}
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="deleteColumn" type="button" class="btn tablehead loginButtonMargin" (click)="onDeleteAll()" id="plusFive">
      {{ 'suggestedWords.delete_selected' | translate }}
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-xl-2">
    <button *ngIf="approve" type="button" class="btn tablehead loginButtonMargin" id="buttonSubmitAddWord" (click)="onApprove()">
      {{ 'suggestedWords.approval' | translate }}
    </button>
  </div>
</div>
