<div class="row">
  <div class="col-md-6 col-xl-4 myd-padding-bottom">
    <div class="card text-center first" >
      <img class="card-img-top" src="./assets/images/practice.jpg" height="250px" alt="chelsea">
      <div class="card-block">
        <p class="card-text">{{'home.exercise_lesson_long'|translate}}</p>
        <a [routerLink]="'practice'" class="btn btn-primary" id="buttonExcercise"> {{'home.exercise_lesson' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4 myd-padding-bottom">
    <div class="card text-center first">
      <img class="card-img-top" src="./assets/images/book.jpg" height="250px" alt="non" style="">
      <div class="card-block">
        <p class="card-text">{{'home.addword_long'|translate}}</p>
        <a [routerLink]="'admin/addword'" class="btn btn-primary" id="buttonGiveWords">{{'home.addword' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-0 myd-padding-bottom">
    <div class="card text-center first" >
      <img class="card-img-top" src="./assets/images/about.jpg" height="250px" alt="chelsea">
      <div class="card-block">
        <p class="card-text">{{'home.about_long'|translate}}</p>
        <a [routerLink]="'about'" class="btn btn-primary" id="buttonPossibilities">{{'home.about' | translate}}</a>
      </div>
    </div>
  </div>
</div>
