<div *ngIf="!pluscard" class="card"  (click)="onClick(wordCollection.id)">
  <div class="card-block clickable">
    <h4 class="card-title" *ngIf="wordCollection.name.length < 24">{{wordCollection.name}}</h4>
    <h6 class="card-title extended-margin" *ngIf="wordCollection.name.length >= 24">{{wordCollection.name}}</h6>
      <p class="collection-subject">
            {{wordCollection.subject}}
      </p>
      <p class="collection-size">
        Szavak száma: {{wordCollection.size}}
      </p>
  </div>
</div>


<div *ngIf="pluscard" class="plusCard"  (click)="onClick(-1)">
  <div class="card-block clickable">
    <h4 class="card-title">Új szógyűjtemény</h4>
      <p class="collection-subject">
            Tetszőleges témával.
      </p>
      <p class="collection-size">
          Akár több száz szóval.
      </p>
  </div>
</div>
