<div *ngIf="!pluscard" class="card"  (click)="onClick(wordCollection.id)">
  <div class="card-block clickable">
    <h4 class="card-title" *ngIf="wordCollection.name.length < 24">{{wordCollection.name}}</h4>
    <h6 class="card-title extended-margin" *ngIf="wordCollection.name.length >= 24">{{wordCollection.name}}</h6>
      <p class="collection-subject">
            {{wordCollection.subject}}
      </p>
      <p class="collection-size">
        {{ 'mywords.wordcnt' | translate }} {{wordCollection.size}}
      </p>
  </div>
</div>


<div *ngIf="pluscard" class="plusCard"  (click)="onClick(-1)">
  <div class="card-block clickable">
    <h4 class="card-title">{{ 'mywords.newglossary' | translate }}</h4>
      <p class="collection-subject">
          {{ 'mywords.newglossarysub' | translate }}
      </p>
      <p class="collection-size">
          {{ 'mywords.newglossarydesc' | translate }}
      </p>
  </div>
</div>
