<div class="container-fluid">

  <div class="row">
    <wordCollection-item class="col-md-6 col-xl-4"
                         (plusClicked)="onPlusCard()"
                         [pluscard]="true">
    </wordCollection-item>
    <wordCollection-item *ngFor="let item of collectionsService.collections | async"
               class="col-md-6 col-xl-4"
               [wordCollection]="item"
               (clicked)="onItemClicked(item)"
               [pluscard]="false"
                >
    </wordCollection-item>
  </div>

  <div >
    <wordstable *ngIf="col.length > 0"
                [selectionColumn] = "true"
                [range] = "true"
                [name] = "true"
                [meaning] = "true"
                [wordClass] = "true"
                [deleteColumn] = "true"
                [words] = "col"
                (Deleted) = "onDelete($event)">

    </wordstable>
  </div>
</div>
