<div class="d-flex justify-content-center myd-header">
  <h2>{{ 'navbar.register' | translate }}</h2>
</div>

<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value);">

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4" [class.has-danger]="_usrErr">
      <label for="nickName">{{ 'register.username' | translate }}: <span class="span-needed">*</span></label>
      <input type="text" name="nickName" class="form-control" id="inputNickName"  required ngModel autofocus (blur)="_usrErr = false; this._failExpression = 'no_fail'">
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <label for="inputEmail">{{ 'register.email' | translate }}: <span class="span-needed">*</span></label>
      <input type="email" name="loginEmail" class="form-control margin" id="inputEmail"  required  ngModel>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4" [class.has-danger]="_passErr">
      <label for="inputPassword">{{ 'register.pswd' | translate }}:<span class="span-needed">*</span></label>
      <input type="password" name="loginPasswd" class="form-control margin" id="inputPassword"
             required ngModel (blur)="confirm(registerForm.form.value.loginPasswd, registerForm.form.value.nickName)">
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4" [class.has-danger]="_passErr">
      <label for="inputPassword2">{{ 'register.pswd2' | translate }}<span class="span-needed">*</span></label>
      <input type="password" name="loginPasswd2" class="form-control margin" id="inputPasswordAgain"
             required ngModel (blur)="pswequal(registerForm.form.value.loginPasswd, registerForm.form.value.loginPasswd2)">
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <label for="birthDate">{{ 'register.birthdate' | translate }}</label>
      <div class="input-group">
        <input type="text" name="birthDate" class="form-control margin" id="InputBirthDate" placeholder="yyyy-mm-dd"
               ngbDatepicker #d="ngbDatepicker" ngModel>
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" (click)="d.toggle()">
            <i class="material-icons">date_range</i>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <label for="country">{{ 'register.country' | translate }}</label>
      <input type="text" name="country" class="form-control margin" id="InputCountry" ngModel>
    </div>
  </div>


  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <label for="city">{{ 'register.city' | translate }}</label>
      <input type="text" name="city" class="form-control margin" id="InputCity" ngModel>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <input type="checkbox" required id="checkboxAccept" name="isLicenseAccepted" ngModel>
      <label for="accept">{{ 'register.accept' | translate }}</label>
    </div>
  </div>

  <div [@onfail]="_failExpression">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="alert alert-danger">
        {{ _errorMessage | translate }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <label>(<span class="span-needed">*</span>{{ 'register.star' | translate }})</label>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <button type="submit" class="btn form-control btn-info"
              id="buttonSubmit" [disabled]="!registerForm.valid">{{ 'navbar.register' | translate }}</button>
    </div>
  </div>
</form>
