<!-- TODO Regisztrációs template ide. -->
<div class="row">
  <form #registerForm="ngForm" (ngSubmit)="register()">

    <div class="form-group col-xl-4 offset-xl-4">
      <div class="form text-center margin-header">
        <h2>{{ 'navbar.register' | translate }}</h2>
      </div>
    </div>

    <div class="form-group col-12">
      <label for="nickName">{{ 'register.username' | translate }}: <span class="span-needed">*</span></label>
      <input type="text" name="nickName" class="form-control" id="nickName"  required ngModel autofocus>
    </div>

    <div class="form-group col-12">
      <label for="inputEmail">{{ 'register.email' | translate }}: <span class="span-needed">*</span></label>
      <input type="email" name="loginEmail" class="form-control margin" id="inputEmail"  required  ngModel>
    </div>

    <div class="form-group col-12">
      <label for="inputPassword">{{ 'register.pswd' | translate }}:<span class="span-needed">*</span></label>
      <input type="password" name="loginPasswd" class="form-control margin" id="inputPassword"
             required ngModel (blur)="confirm(registerForm.form.value.loginPasswd,registerForm.form.value.nickName)">
    </div>

    <div class="form-group col-12">
      <label for="inputPassword2">{{ 'register.pswd2' | translate }}<span class="span-needed">*</span></label>
      <input type="password" name="loginPasswd2" class="form-control margin" id="inputPassword2"
             required ngModel (blur)="pswequal(registerForm.form.value.loginPasswd,registerForm.form.value.loginPasswd2)">
    </div>

    <div class="form-group col-12">
      <label for="birthDate">{{ 'register.birthdate' | translate }}</label>
      <input type="text" name="birthDate" class="form-control margin" id="birthDate">
    </div>

    <div class="form-group col-12">
      <label for="country">{{ 'register.country' | translate }}</label>
      <input type="text" name="country" class="form-control margin" id="country">
    </div>


    <div class="form-group col-12">
      <label for="city">{{ 'register.city' | translate }}</label>
      <input type="text" name="city" class="form-control margin" id="city">
    </div>

    <div class="form-group col-12">
      <input type="checkbox"  required id="accept">
      <label for="accept">{{ 'register.accept' | translate }}</label>
    </div>

    <div class="form-group col-12">
      <label>(<span class="span-needed">*</span>{{ 'register.star' | translate }})</label>
    </div>

    <div class="form-group col-12">
      <button type="submit" class="btn form-control margin btn-primary loginButtonMargin">{{ 'navbar.register' | translate }}</button>
    </div>

  </form>
</div>
