<!-- TODO Login oldal kialakítása -->

<div class="loginTopCenter">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.form.value)">
    <h2>{{ 'navbar.login' | translate }}</h2>
    <div class="row">
      <div class="form-group col-12">
        <input type="email" name="loginEmail" class="form-control" id="inputEmail"
                            placeholder="E-mail cím" required autofocus ngModel (blur)="failExpression = 'no_fail'">
        <input type="password" name="loginPasswd" class="form-control" id="inputPassword" placeholder="Jelszó"
                            required ngModel (blur)="failExpression = 'no_fail'">
        <a class="frgtPassw" href="#" id="linkForgottenPassword">Elfelejtett Jelszó</a>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 noPadding">
        <button type="submit" class="btn form-control btn-primary loginButtonMargin" id="buttonLogin">Bejelentkezés</button>
      </div>
      <div class="form-group col-12">
        <button type="button" class="btn form-control btn-secondary loginButtonMargin" (click)="onRegister()" id="buttonRegistration">
          Regisztráció
        </button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <div class="alert alert-danger" [@onfail]="failExpression">
          {{ 'login.wrong_pass_or_user' | translate }}
        </div>
      </div>
    </div>
  </form>
</div>

