<div class="card div_other" >
  <div class="card-header fontsize">
    Segítség a MyDictionary használatához.
  </div>
  <div class="card-block">
    <h5 class="card-title">1. Regisztráció</h5>
    <p class="card-text" style="text-align: justify">A MyDictionary szolgáltatásainak egy része (pl.: szavak keresése) 
      regisztráció nélkül is használható. Vannak olyan további szolgáltatások, amiket csak a regisztrált felhasználók 
      tudnak igénybevenni (pl.: szócsoportok létrehozása).<BR/>
      Regisztrációhoz a Belépés gombra, majd a Regisztráció gombra kell kattintani. A regisztráció feltétele email cím, 
      jelszó megadása és az Adatvédelmi Nyilatkozat (a Feltételek olvasása gombra kattintással érhető el) elfogadása. A 
      regisztráció és a szolgáltatások igénybevétele ingyenes.</p>
    <h5 class="card-title">2. Belépés</h5>
    <p class="card-text" style="text-align: justify">A Belépés gombra kattintás után a felhasználó nevet és a jelszót kell 
      megadni. Ha elfelejtette a jelszót kattintson az "Elfelejtett jelszó" linkre.</p>
    <h5 class="card-title">3. Kilépés</h5>
    <p class="card-text" style="text-align: justify">A Jobb fölső sarokban lévő háromszögre (A felhasználó neve mellett) 
      kell kattintani, utána a Kijelentkezésre</p>
    <h5 class="card-title">4. Adatmódosítás</h5>
    <p class="card-text" style="text-align: justify">A Jobb fölső sarokban lévő háromszögre (A felhasználó neve mellett) 
      kell kattintani, utána a Profilra</p>
    <h5 class="card-title">5. Nyelvválasztás</h5>
    <p class="card-text" style="text-align: justify">A Belépés gomb melletti Nyelv gombra kattintással lehet az oldal 
      nyelvét váltani (magyar/angol). Ez a keresésre nincs hatással.</p>
    <h5 class="card-title">6. Szó keresése</h5>
    <p class="card-text" style="text-align: justify">A lap tetején lévő szöveg mezőbe kell a szót magyarul vagy angolul 
      beírni és az Enter-t megnyomni.</p>
    <h5 class="card-title">7. További lehetőségek regisztrált fehasználóknak</h5>
    <p class="card-text" style="text-align: justify">A regisztrált felhasználók további szolgáltatásokat érhetnek el. Ezek 
      a linkek a bal oldalon találhatóak (Saját szó gyűjtemény, gyakorló feladatok, szó hozzáadása).</p>
    <h5 class="card-title">8. Saját szógyűjtemény</h5>
    <p class="card-text" style="text-align: justify">Lehetőség van új szógyűjtemény létrehozására. Egy nevet kötelező 
      megadni, leírást lehetséges. A létehozás után lehet szavakat hozzáadni. Az elkészült szógyűjtemények tartalmát 
      lehet listázni, szót hozzáadni, törölni.</p>
    <h5 class="card-title">9. Szavak gyakorlása</h5>
    <p class="card-text" style="text-align: justify">Először ki kell választani egy szócsoportot. Utána a betűkre 
      kattintással lehet tippelni a megadott szócsoportból véletlenszerűen választott szóra.<BR/>
      Lehetőség van új szót kérni és az uitolsó megismételni is.</p>
    <h5 class="card-title">10. Szó hozzáadása</h5>
    <p class="card-text" style="text-align: justify">A szót kell beírni magyarul, majd angolul, utána kiválasztani a 
      listából a szófajt. A küldés gombbal lehet az űrlapot elküldeni. Lehetőség van egyszerre több szó hozzáadására is.</p>
    <h5 class="card-title">11. Támogatott böngészők</h5>
    <p class="card-text" style="text-align: justify">A támogatott böngészők: Chrome, Firefox, Edge 13-14, Internet 
      Explorer 9-11, Safari 8-10, iOS 8-10,, Android, Internet Explorer mobile 11</p>
  </div>
</div>
